* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  background-color: black;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
}

.drop-down-container {
  width: 100%;
  background: #fff;

  display: grid;
  place-content: center;
}

.drop-down {
  position: relative;

  padding: 0.5rem 1rem 0.5rem 1rem;
  background: #ced3da;

  border-radius: 10px;
  border: none;

  display: inline-block;
}

.show {
  background: inherit;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.show:hover {
  cursor: pointer;
  text-decoration: underline;
}

.content {
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  min-width: 100%;
  background: #ced3da;
  border-radius: 10px;
}

.content.hide {
  display: none;
}

ul {
  list-style-type: none;
}

li {
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

li:hover {
  width: 100%;
  background: #3d4452;
  color: white;
}

.carousel-container {
  background-color: #fff;

  display: grid;
  place-content: center;
}

.carousel {
  height: 400px;
  border: 1px solid black;

  display: grid;
  grid-template:
    "title title title"
    "left slide-wrapper right"
    "dots dots dots";
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-columns: 1fr 5fr 1fr;
}

.carousel-title {
  grid-area: title;
  place-self: center;
}

.slide-wrapper {
  grid-area: slide-wrapper;
  display: flex;
}

.slide-item {
  display: none;

  min-width: 400px;
  font-size: 2rem;

  background-color: #c2cde5;
  border: 1px solid black;
}

.slide-item.selected {
  display: grid;
  place-content: center;
}

button.left {
  grid-area: left;
}

button.right {
  grid-area: right;
}

.dots-container {
  grid-area: dots;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 12px;
}

.dot-item {
  height: 15px;
  width: 15px;
  background-color: #ced3da;
  border-radius: 50%;
}

.dot-item:hover {
  cursor: pointer;
}

.dot-item.selected {
  background-color: #3e5487;
}
